@import "tailwindcss";
@import "./styles/fonts.css";

* {
    scroll-behavior: smooth;
}

@theme {
    --default-font-family: "Inter", sans-serif;
    --font-noto-serif: "Noto serif", serif;
    --font-source-code-pro: "Source code pro", serif;
}