@import "tailwindcss";
@import "./styles/fonts.css";

* {
    scroll-behavior: smooth;
}

@theme {
    --default-font-family: "Inter", sans-serif;
    --font-noto-serif: "Noto serif", serif;
    --font-source-code-pro: "Source code pro", serif;

    /* spacing */
    --tracking-025: 2px;
    --tracking-050: 4px;
    --tracking-075: 6px;
    --tracking-100: 8px;
    --tracking-150: 12px;
    --tracking-200: 16px;
    --tracking-250: 20px;
    --tracking-300: 24px;
    --tracking-400: 32px;
    --tracking-500: 40px;
    --tracking-600: 2px;
    --tracking-800: 64px;
    --tracking-1000: 2px;

    /* radius */
    --radius-sm: 4px;
    --radius-md: 6px;
    --radius-lg: 8px;
    --radius-xl: 10px;
    --radius-2xl: 12px;
    --radius-3xl: 16px;
    --radius-4xl: 20px;
    --radius-5xl: 24px;

    /* box-shadow */
    --shadow-sm: 0 4px 6px -1px #F0F0F099;
    --shadow-lg: 0 8px 12px -1px #F0F0F099;

    /* colors */
    --color-neutral-950: #0E121B;
    --color-neutral-900: #191B25;
    --color-neutral-800: #232530;
    --color-neutral-700: #2B303B;
    --color-neutral-600: #525866;
    --color-neutral-500: #717784;
    --color-neutral-400: #99A0AE;
    --color-neutral-300: #CACFD8;
    --color-neutral-200: #E0E4EA;
    --color-neutral-100: #F3F5F8;
    --color-neutral-50: #F5F7FA;
    --color-neutral-0: #FFFFFF;
    --color-blue-700: #2547D0;
    --color-blue-500: #335CFF;
    --color-blue-50: #EBF1FF;
    --color-green-500: #21C16B;
    --color-green-100: #D1FBE9;
    --color-red-500: #FB3748;
    --color-red-100: #FFD5D8;
}

@layer utilities {

    .grid-sidebar {
        @apply grid lg:grid-cols-14 md:grid-cols-12 sm:grid-cols-8 gap-[24px];
    }

    .text-present-1-primary {
        @apply font-[20px];
    }

    .text-present-1-secondary {
        @apply font-[16px];
    }

    .text-present-2-primary {
        @apply font-[18px];
    }


    .text-present-2-tertiary {
        @apply font-[14px];
    }

    /* fonts */

    .text-present-1 {
        @apply text-[24px] text-base/[120%] tracking-[-0.5px];
    }
    .text-present-2 {
        @apply text-[20px] text-base/[120%] tracking-[-0.5px];
    }
    .text-present-3 {
        @apply text-[16px] text-base/[120%] tracking-[-0.3px];
    }
    .text-present-4-5 {
        @apply text-[14px] text-base/[120%] tracking-[-0.2px];
    }
    .text-present-6 {
        @apply text-[12px] text-base/[120%] tracking-[-0.2px];
    }

    /* inter */
    .text-present-1-primary-bold {
        @apply text-present-1 font-bold;
    }

    .text-present-2-primary-bold {
        @apply text-present-2 font-bold;
    }

    .text-present-3-primary-semibold {
        @apply text-present-3 font-semibold;
    }

    .text-present-4-primary-medium {
        @apply text-present-4-5 font-medium;
    }

    .text-present-5-primary-regular {
        @apply text-present-4-5;
    }

    .text-present-6-primary-regular {
        @apply text-present-6;
    }

    /* noto serif */
    .text-present-1-secondary-bold {
        @apply text-present-1 font-noto-serif font-bold;
    }

    .text-present-2-secondary-bold {
        @apply text-present-2 font-noto-serif font-bold;
    }

    .text-present-3-secondary-semibold {
        @apply text-present-3 font-noto-serif font-semibold;
    }

    .text-present-4-secondary-medium {
        @apply text-present-4-5 font-noto-serif font-medium;
    }

    .text-present-5-secondary-regular {
        @apply text-present-4-5 font-noto-serif;
    }

    .text-present-6-secondary-regular {
        @apply text-present-6 font-noto-serif;
    }

    /* source code pro */
    .text-present-1-tertiary-bold {
        @apply text-present-1 font-source-code-pro font-bold;
    }

    .text-present-2-tertiary-bold {
        @apply text-present-2 font-source-code-pro font-bold;
    }

    .text-present-3-tertiary-semibold {
        @apply text-present-3 font-source-code-pro font-semibold;
    }

    .text-present-4-tertiary-medium {
        @apply text-present-4-5 font-source-code-pro font-medium;
    }

    .text-present-5-tertiary-regular {
        @apply text-present-4-5 font-source-code-pro;
    }

    .text-present-6-tertiary-regular {
        @apply text-present-6 font-source-code-pro;
    }
}